
//
// VARIABLES
//

// Colors
$blue: #1a3a6b;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

$primary: #1a3a6b;
$secondary: #2d4566;
$tertiary: #3d5470;
$accent: #de713a;



// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
